{% extends 'base.html' %}

{% block content %}
<body class="text-center">

<main class="form-signin col-lg-2 container" >
  <form action="#" method="post">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    {% csrf_token %}
      {{ form.as_p }}

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>

  </form>
</main>





</body>

{% endblock %}